html, body {
    margin: 0;
    padding: 0;
    min-width: 1000px;
}

body {
    overflow: hidden;

}
#black-bar {
    background-color: DarkBlue;
    color: white;
    padding: 20px 0;
}

#black-bar a {
    color: white;
}

.fixed-container{
    width: 960px;
    margin: 0 auto;
    position: relative;

}

#datetime{
    float: right;
}

#logo{
    position: absolute;
    top: 40px;
    width: 120px;
    height: 40px;
}

#select-container{
       width: 600px;
       margin: 0 auto;
       position: relative;
}

.select{
       position: absolute;
       top: 50px;
}

#input-container{
        width: 171px;
        position: relative;
        float: right;
}

.input{
        position: absolute;
        float: right;
        top: 50px;
}

.input-input{
        position: absolute;
        float: right;
        top: 50px;
}


