html, body {
    margin: 0;
    padding: 0;
    min-width: 1000px;
    font-family: Arial;
}

h2 {
    font-size: 20px;
    padding-left: 18px;
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0 0 34px;
    border-bottom: 1px solid #e5e5e5;


}

body {
    overflow: ;

}
#black-bar {
    background-color: DarkBlue;
    color: white;
    padding: 20px 0;
    font-size: 16px;
}

#black-bar a {
    color: white;
}

.fixed-container{
    width: 960px;
    margin: 0 auto;
    position: relative;

}

#datetime{
    float: right;
}

#header{
    height: 100px;
}

#logo{
    position: absolute;
    top: 40px;
    width: 120px;
    height: 40px;
}

#menu-container{
     height: 70px;
}

#column-left{
     background-color: white;
     width: 250px;
     float: left;
}

#column-center{
    background-color: yellow;
    width: 420px;
    margin-left: 20px;
    float: left;
}

#central-container .fixed-container {
    overflow-y: hidden;
}

#central-container{
    background-color: #f9f9f9;
    padding-top: 20px;
    background-image: url("../images/bgtop.png");
    background-repeat: repeat-x;
}

#column-right{
    width: 250px;
    float: right;
}

#special-news{
    margin-top: 20px;
}

#column-right img{
    margin-bottom: 20px;
}

